<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http_equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.username %></h1>
    <p>
      Welcome to my website!
      Your username is: <%= @user.username %>.<br/>
    </p>


  </body>
</html>
